@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-flow: row wrap;
    background-color: #f0f1f1;
}
/*Header*/
.header{
    position: fixed;
    width: 100%;
    height: 64px;
    background: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*Header: banner*/
.header__banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner__logo{
    margin-left: 20px;
}
.banner__title{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(25, 14, 47, 0.8);
    margin-left: 46px;
}

/*Header: Link*/
.header__profile-src{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 373px;
    border-radius: 4px;
    background-color: rgba(218, 219, 221, 0.16);
    padding: 10px 12px 9px 16px;
}
.profile-src__link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(25, 14, 47, 0.8);
}

/*Header: panel*/

.header__panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 121px;
    margin-right: 20px;
}
.panel__profile{
    display: flex;
    align-items: center;
}
.panel__img{
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 3px;
}

/*Navigation*/

.nav{
    position: fixed;
    height: calc(100vh - 64px);
    width: 64px;
    margin-top: 64px;
    background-color: #474f5a;
    display: flex;
    flex-direction: column;
}
.nav__icon{
    padding: 20px;
}
.nav__icon--selected{
    padding: 20px 20px 20px 16px;
    border-left: 4px solid #ff707a;
    background-color: rgba(255, 255, 255, 0.2);
}

/*main*/

.main{
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.main__title{
    margin: 114px 0 14px 0;
    width: 654px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #190e2f;
}
.main__box{
    margin-top: 8px;
    width: 654px;
    border-radius: 2px;
    border: solid 1px #dadbdd;
    box-shadow: 0 6px 30px 0 rgba(0, 14, 253, 0.1);
}
/*Main: info*/

.main__info{
    height: 484px;
}
.main__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 24px;
    width: 100%;
    height: 72px;
    background-color: #e1edf1;
}
.main__header--info{
    display: flex;
    align-items: center;
}
.main__header--text{
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #190e2f;
    color: rgba(25, 14, 47, 0.8);
}
.info__body--picture{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 34px 0 10px 0;
}
.info__body--image{
    height: 100px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    border: solid 2.5px #b9d7e0;
    border-radius: 50%;
}
/*Main: Entry*/

.info__body--data{
    width: calc(100% - 50px);
    margin: 0 32px 0 32px;
    display: flex;
    flex-flow: row wrap;
}
.info__body--entry{
    margin: 10px;
    flex: 1 1 250px;
}
.entry__title{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.56);
}
.entry__field{
    height: 44px;
    flex: 1 1 250px;
    border-radius: 8px;
    border: solid 1px rgba(218, 219, 221, 0.64);
}
/*Main: info button*/
.info__button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.info__button button{
    height: 44px;
    width: 136px;
    border-radius: 4px;
    border: none;
    background-color: #00aedc;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin: 22px 10px 32px 0;
}

/*Main: Password*/

.main__password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    text-align: center;
    padding: 24px;
}
.main__password--info{
    display: flex;
    align-items: center;
}
.main__password--text{
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(25, 14, 47, 0.8);
}
/*Main: Deactivate*/
.main__deactivate{
    text-align: center;
    height: 56px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
    color: #ff707a;
}